{% extends 'shop/basic.html' %}

{% block title %} Contact Me - One Click Pick {% endblock %}

{% block body %}
 
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-2">

            <!-- THE CONTACT FORM IS HERE -->
                <h2>Contact me!</h2>
                <form action="/shop/contact/" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="name" class="form-control" id="name" placeholder="Enter your Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" class="form-control" id="cemail" placeholder="Enter your Email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Your Phone Number (with country code)</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter your Phone Number"
                            name="phone">
                    </div>
                    <div class="form-group">
                        <label for="description">Describe what you want to contact me for here</label>
                        <textarea type="text" class="form-control" id="message" placeholder="Your message" name="message"></textarea>
                    </div>

                    <button type="submit" class="btn btn-danger mt-2">Submit</button>
                </form>
            
        </div>
        <hr>

        <!-- SIDE WIDGET IS HERE -->
        <div class="col-md-4">
    <div class="col-md-8">
        <div class="my-4">
            <form action="/search" method='get'>
                <h4>Search</h4>
                <div>
                    <input type="text" name='query' class="form-control">
                    <button type='submit' class="btn btn-danger mt-2 ">Search
                    </button>
                </div>
            </form>
        </div>
        
    </div>

</div>
    </div>
</div>




  <!-- FOOTER -->
  <footer class="container mt-3">
    <p class="float-right"><a href="#">Back to top</a></p>
  </footer>
  
{% endblock %}

{% block js %}
<script>
{% if thank %}
alert('Thanks for contacting me. I will get back to you soon!');
document.location = "/shop/contact";
{% endif %}
</script>
{% endblock %}